@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'neo-sans';
  src: url('./fonts/Neo_Sans_Light.ttf') format('tff');
  font-weight: 400;
}

body {
  @apply font-sans;
}



/* Light Theme */
@theme {
  /* Brand / Primary */
  --font-sans: var(--font-neo);
  /* Neo Sans as default */
  --font-heading: var(--font-open-sans);
  /* Open Sans for headings */
  --color-primary-50: #f4f7fb;
  --color-primary-100: #e6eef6;
  --color-primary-200: #c6d5e3;
  --color-primary-300: #a5bfd8;
  --color-primary-400: #7198c4;
  --color-primary-500: #2f7fd9;
  --color-primary-600: #0762c6;
  /* Logo main */
  --color-primary-700: #0b4fa3;
  --color-primary-800: #1c3766;
  --color-primary-900: #142744;

  /* Surface / Background */
  --color-background: #ffffff;
  --color-surface: #f4f7fb;
  --color-light-background: #FAFAFA;
  /* Text */
  --color-foreground: #0f172a;
  --color-muted: #64748b;

  /* Borders */
  --color-border: #e2e8f0;
  --text-5xl: 44px;
  --max-w-350: 1400px;
  --text-sm: 16px;
  --text-xs: 14px;

}

body {
  font-family: var(--font-neo);
}

.wrapper {
  @apply max-w-350 w-11/12 px-2 lg:px-0 lg:w-10/12 mx-auto
}